.allFriendsBody {
  width: 270px;
  height: 99.7%;
  position: relative;
  top: -142px;
  left: 45px;
  box-shadow: 1px 0 5px #d1d9e6;
  overflow: hidden;
}
.allFriendsBody header {
  width: 250px;
  height: 30px;
  background-color: #efefef;
  border-radius: 5px;
  position: fixed;
  z-index: 100;
  margin: 10px;
}
.allFriendsBody header div:first-child .search {
  width: 15px;
  color: #969696;
  position: relative;
  top: 5.5px;
  left: 5px;
}
.allFriendsBody header div:first-child [type=text] {
  width: 220px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  top: 2px;
  left: 10px;
  color: #969696;
  font-size: 13px;
}
.allFriendsBody header .dating_notifications {
  position: relative;
  top: 20px;
}
.allFriendsBody header .dating_notifications div {
  height: 45px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}
.allFriendsBody header .dating_notifications div:hover {
  background-color: #efefef;
}
.allFriendsBody header .dating_notifications div .el-icon {
  justify-content: flex-end;
  position: absolute;
  top: 13px;
  right: 10px;
}
.allFriendsBody main {
  width: 270px;
  height: 76.6%;
  position: relative;
  top: 150px;
  box-shadow: 1px 0 5px #d1d9e6;
  overflow: hidden;
}
.options {
  width: 200px;
  position: relative;
  left: 30px;
  margin: 10px 0 10px 0;
}
.options .el-segmented {
  --el-segmented-item-selected-bg-color: #3499ff;
  --el-border-radius-base: 16px;
}
.friends_introduce {
  height: 445px;
  padding: 10px 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
.friends_introduce::-webkit-scrollbar {
  width: 10px;
}
.friends_introduce::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 10px;
}
.friends_introduce::-webkit-scrollbar-track {
  background: transparent;
  margin: 5px;
}
.friends_introduce .friends {
  height: 70px;
  display: flex;
  overflow-x: hidden;
  padding: 10px 5px;
}
.friends_introduce .friends:hover {
  background-color: #efefef;
}
.friends_introduce .friends:active {
  background-color: #e5e5e5;
}
.friends_introduce .friends img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.friends_introduce .friends .friends_text_introduce {
  width: 140px;
  position: relative;
  left: 5px;
}
.friends_introduce .friends .friends_text_introduce p:first-child {
  font-size: 15px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.friends_introduce .friends .friends_text_introduce p:nth-child(2) {
  font-size: 10px;
  letter-spacing: 1px;
  color: #787878;
  position: relative;
  top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.friends_introduce .friends .friends_text_introduce p:nth-child(3) {
  font-size: 12px;
  letter-spacing: 1px;
  color: #787878;
  position: relative;
  top: -5px;
  left: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.friends_introduce .group_chats {
  height: 70px;
  display: flex;
  overflow-x: hidden;
  padding: 10px 5px;
}
.friends_introduce .group_chats:hover {
  background-color: #efefef;
}
.friends_introduce .group_chats:active {
  background-color: #e5e5e5;
}
.friends_introduce .group_chats img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.friends_introduce .group_chats p {
  height: 20px;
  font-size: 15px;
  position: relative;
  top: 15px;
  left: 10px;
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.SignIn_status::after {
  content: '';
  width: 1.5px;
  height: 15px;
  position: absolute;
  left: 39px;
  bottom: 5px;
  background-color: #c7c7c7;
}
.SignIn_status .online {
  display: flex;
}
.SignIn_status .online div {
  width: 10px;
  height: 10px;
  background: linear-gradient(#97e567, #51ce00);
  border-radius: 50%;
  position: relative;
  top: 13px;
  margin-right: 3px;
}
.SignIn_status .offline {
  display: flex;
}
.SignIn_status .offline div {
  width: 10px;
  height: 10px;
  background: linear-gradient(#d5d5d5, #676767);
  border-radius: 50%;
  position: relative;
  top: 13px;
  margin-right: 3px;
}
/*# sourceMappingURL=allFriends.css.map */