@white: #f9f9f9;
@neu-2: #d1d9e6;
@gray: rgb(199, 199, 199);
@light_gray: #efefef;
@blue: #3499ff;

.allFriendsBody {
  width: 270px;
  height: 99.7%;
  position: relative;
  top: -142px;
  left: 45px;
  box-shadow: 1px 0 5px @neu-2;
  overflow: hidden;


  & header {
    width: 250px;
    height: 30px;
    background-color: @light_gray;
    border-radius: 5px;
    position: fixed;
    z-index: 100;
    margin: 10px;

    & div:first-child {
      & .search {
        width: 15px;
        color: rgb(150, 150, 150);
        position: relative;
        top: 5.5px;
        left: 5px;
      }

      & [type = text] {
        width: 220px;
        height: 25px;
        border: none;
        outline: none;
        background-color: transparent;
        position: relative;
        top: 2px;
        left: 10px;
        color: rgb(150, 150, 150);
        font-size: 13px;
      }
    }

    & .dating_notifications {
      position: relative;
      top: 20px;

      & div {
        height: 45px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        position: relative;
        border-radius: 5px;

        &:hover {
          background-color: @light_gray;
        }

        & .el-icon {
          justify-content: flex-end;
          position: absolute;
          top: 13px;
          right: 10px;
        }
      }
    }
  }

  & main {
    width: 270px;
    height: 76.6%;
    position: relative;
    top: 150px;
    box-shadow: 1px 0 5px @neu-2;
    overflow: hidden;
  }
}

.options {
  width: 200px;
  position: relative;
  left: 30px;
  margin: 10px 0 10px 0;

  & .el-segmented {
    --el-segmented-item-selected-bg-color: @blue;
    --el-border-radius-base: 16px;
  }
}

.friends_introduce {
  height: 445px;
  padding: 10px 5px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: @gray;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 5px;
  }

  & .friends {
    height: 70px;
    display: flex;
    overflow-x: hidden;
    padding: 10px 5px;

    &:hover {
      background-color: @light_gray;
    }

    &:active {
      background-color: #e5e5e5;
    }

    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    & .friends_text_introduce {
      width: 140px;
      position: relative;
      left: 5px;

      & p:first-child {
        font-size: 15px;
        letter-spacing: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & p:nth-child(2) {
        font-size: 10px;
        letter-spacing: 1px;
        color: rgb(120, 120, 120);
        position: relative;
        top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & p:nth-child(3) {
        font-size: 12px;
        letter-spacing: 1px;
        color: rgb(120, 120, 120);
        position: relative;
        top: -5px;
        left: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  & .group_chats {
    height: 70px;
    display: flex;
    overflow-x: hidden;
    padding: 10px 5px;

    &:hover {
      background-color: @light_gray;
    }

    &:active {
      background-color: #e5e5e5;
    }

    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    & p {
      height: 20px;
      font-size: 15px;
      position: relative;
      top: 15px;
      left: 10px;
      letter-spacing: .5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.SignIn_status {
  &::after {
    content: '';
    width: 1.5px;
    height: 15px;
    position: absolute;
    left: 39px;
    bottom: 5px;
    background-color: @gray;
  }

  & .online {
    display: flex;

    & div {
      width: 10px;
      height: 10px;
      background: linear-gradient(#97e567, #51ce00);
      border-radius: 50%;
      position: relative;
      top: 13px;
      margin-right: 3px;
    }
  }

  & .offline {
    display: flex;

    & div {
      width: 10px;
      height: 10px;
      background: linear-gradient(#d5d5d5, #676767);
      border-radius: 50%;
      position: relative;
      top: 13px;
      margin-right: 3px;
    }
  }
}