.groupChatNotifications {
  width: 670px;
  height: 650px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #efefef;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: auto;
}
.groupChatNotifications::-webkit-scrollbar {
  width: 10px;
}
.groupChatNotifications::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 10px;
}
.groupChatNotifications::-webkit-scrollbar-track {
  background: transparent;
  margin: 5px;
}
.groupChatNotifications .p {
  width: 620px;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #efefef;
}
.groupChatNotifications .p p {
  font-size: 18px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 10px;
}
.groupChatNotifications main {
  width: 585px;
  position: relative;
  top: 20px;
  left: 10px;
}
.groupChatNotifications main .apply_friends {
  background-color: #f9f9f9;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  box-shadow: 0 0 1px 0.1px #c7c7c7;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
.groupChatNotifications main .apply_friends img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.groupChatNotifications main .apply_friends .left {
  margin: 5px 0 0 10px;
}
.groupChatNotifications main .apply_friends .left div {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}
.groupChatNotifications main .apply_friends .left div p:first-child {
  max-width: 100px;
  color: #3598ff;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.groupChatNotifications main .apply_friends .left div p:nth-child(2) {
  color: #8f8f8f;
}
.groupChatNotifications main .apply_friends .left .message {
  font-size: 13px;
  margin-top: 5px;
  color: #000;
  position: relative;
  top: -2px;
}
.groupChatNotifications main .apply_friends .left .message span {
  max-width: 200px;
  position: relative;
  top: 4.5px;
  display: inline-block;
  color: #3598ff;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.groupChatNotifications main .apply_friends .application_status_button {
  width: 100px;
  height: 33px;
  background-color: #f9f9f9;
  position: relative;
  top: 10px;
  left: 190px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
}
.groupChatNotifications main .apply_friends .application_status_button div {
  display: flex;
  flex-direction: row;
}
.groupChatNotifications main .apply_friends .application_status_button div .el-icon {
  width: 54px;
  height: 32px;
  cursor: pointer;
}
.groupChatNotifications main .apply_friends .application_status_button div .el-icon:first-child {
  border-right: 1px solid #c7c7c7;
}
.groupChatNotifications main .apply_friends .application_status_button div .el-icon:first-child:hover {
  background-color: rgba(81, 206, 0, 0.1);
}
.groupChatNotifications main .apply_friends .application_status_button div .el-icon:first-child:active {
  background-color: rgba(81, 206, 0, 0.2);
}
.groupChatNotifications main .apply_friends .application_status_button div .el-icon:nth-child(2):hover {
  background-color: rgba(255, 0, 0, 0.1);
}
.groupChatNotifications main .apply_friends .application_status_button div .el-icon:nth-child(2):active {
  background-color: rgba(255, 0, 0, 0.2);
}
.groupChatNotifications main .apply_friends .application_status_p {
  height: 30px;
  color: #8f8f8f;
  position: relative;
  top: 15px;
  left: 240px;
  letter-spacing: 5px;
}
/*# sourceMappingURL=groupChatNotifications.css.map */