@white: #f9f9f9;
@neu-2: #d1d9e6;
@gray: rgb(199, 199, 199);
@light_gray: #efefef;
@text_gray: #505050;
@blue: #557ffc;
@selection_green: #e5ffde;

.thisOutside {
  width: 690px;
  height: 100%;
  background-color: @light_gray;
  position: absolute;
  top: 0;
  left: 310px;
  z-index: 100;
}

header {
  height: 38px;
  letter-spacing: 1px;
  background-color: @light_gray;

  & h4 {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  & .shat_control {
    position: absolute;
    top: 5px;
    right: 20px;

    & .el-icon {
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        color: @blue;
      }

      &:active {
        transform: scale(.9);
      }
    }
  }
}

.copy_paste {
  width: 50px;
  padding: 3px 0 6px 3px;
  font-size: 13px;
  text-align: center;
  letter-spacing: 3px;
  border: 1.5px solid @gray;
  border-radius: 3px;
  background-color: @light_gray;
  box-shadow: 0 0 10px 1px @gray;
  display: none;
  position: fixed;
  z-index: 100;
  cursor: pointer;

  &:hover {
    background-color: #e3e3e3;
  }

  &:active {
    background-color: #dedede;
  }
}

.dialog_box {
  height: 389px;
  padding: 0 10px 10px 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: @gray;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px;
  }

  & .to_user {
    position: relative;
    top: 10px;
    padding: 0 5px;
    margin: 5px 10px 10px 0;

    & div {
      display: flex;
      flex-direction: row;

      & .user_image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-user-drag: none;
      }

      & div {
        position: relative;
        top: -10px;
        left: 10px;
        margin: 10px 0 10px 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        scroll-behavior: smooth;

        & p:nth-child(1) {
          font-size: 10px;
          color: @text_gray;
          position: relative;
        }

        & p:nth-child(2) {
          max-width: 550px;
          background-color: @gray;
          position: relative;
          top: 10px;
          padding: 5px;
          border-radius: 5px;
          color: #000;
          font-size: 14px;
          letter-spacing: .5px;
          text-align: left;
          user-select: text;
          line-break: anywhere;

          &::selection {
            background-color: @selection_green;
            color: #000;
          }
        }

        & img {
          max-width: 450px;
          border-radius: 5px;
          margin-top: 10px;
          cursor: pointer;
          border: 1px solid @gray;
          box-shadow: 0 0 5px 1px @gray;
        }
      }
    }
  }

  & .from_user {
    position: relative;
    top: 10px;
    float: right;
    margin: 5px 10px 10px 0;

    & div {
      display: flex;
      justify-content: flex-end;

      & .user_image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: right;
        -webkit-user-drag: none;
      }

      & div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        scroll-behavior: smooth;

        & p:nth-child(1) {
          font-size: 10px;
          color: @text_gray;
          position: relative;
          right: 10px;
          float: right;
          text-align: right;
        }

        & p:nth-child(2) {
          max-width: 550px;
          background-color: @blue;
          position: relative;
          right: 10px;
          float: right;
          margin-top: 10px;
          padding: 5px;
          border-radius: 5px;
          color: @white;
          font-size: 14px;
          letter-spacing: .5px;
          text-align: left;
          user-select: text;
          line-break: anywhere;

          &::selection {
            background-color: @selection_green;
            color: #000;
          }
        }

        & img {
          max-width: 450px;
          border-radius: 5px;
          margin-top: 10px;
          cursor: pointer;
          border: 1px solid @gray;
          box-shadow: 0 0 5px 1px @gray;
        }
      }
    }
  }
}

footer {
  width: 665px;
  position: absolute;
  top: 435px;
  left: 15px;

  & .shat_control {
    & .el-icon {
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        color: @blue;
      }

      &:active {
        transform: scale(.9);
      }
    }
  }

  & textarea {
    width: 655px;
    height: 140px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    outline: transparent;
    margin: 5px 0 0 5px;
    overflow: auto;
    letter-spacing: 1px;
    font-size: 15px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: @gray;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  & .send_box {
    width: 90px;
    height: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: @blue;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;

    &:active {
      background-color: rgba(139, 166, 246);
    }
  }
}

.drawer {
  & main {
    width: 310px;
    height: 610px;
    overflow: hidden auto;

    & .group_chats_more {
      height: 490px;
      margin-bottom: 10px;

      & header {
        height: 70px;
        display: flex;
        position: relative;
        padding: 5px;
        border-radius: 10px;
        background-color: @white;


        & img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }

        & div {
          width: 230px;
          position: relative;
          left: 10px;
          color: #000000;

          & p:first-child {
            font-size: 18px;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          & p:nth-child(2) {
            font-size: 13px;
          }
        }
      }

      & main {
        height: auto;
        max-height: 300px;
        position: relative;
        margin: 20px 0 20px 0;
        border-radius: 10px;
        background-color: @white;

        & .group_main_top {
          display: flex;
          color: #000;
          padding: 5px 10px 5px 10px;

          & p:first-child {
            font-size: 15px;
          }

          & p:nth-child(2) {
            font-size: 12px;
            color: @text_gray;
            position: relative;
            top: 2px;
            left: 100px;
            cursor: pointer;

            & .el-icon {
              position: relative;
              top: 3px;
              right: 3px;
            }

            &:hover {
              color: @blue;
            }

            &:active {
              transform: scale(.99);
            }
          }
        }

        & .group_users {
          width: 100%;
          max-height: 260px;
          display: flex;
          flex-wrap: wrap;
          padding: 10px;

          & .group_user {
            margin: 0 8px 15px 0;

            & img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              position: relative;
              left: 5.5px;
            }

            & p {
              width: 50px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 10px;
            }
          }

          & .group_user:last-child {
            margin-right: 0;
          }

          & .invite {
            & .el-icon {
              background-color: @light_gray;
              border-radius: 50%;
              padding: 10px;
              position: relative;
              top: 1px;
              left: 4px;
              cursor: pointer;

              &:active {
                background-color: #dedede;
              }
            }

            & p {
              font-size: 10px;
              position: relative;
              left: 12px;
              letter-spacing: 2px;
            }
          }
        }
      }

      & footer {
        & .group_name {
          position: relative;
          left: 5px;
          bottom: 100px;

          & p {
            position: relative;
            margin: 0 0 5px 10px;
            color: @text_gray;
            letter-spacing: 1px;
          }

          & .el-input {
            width: 310px;
            height: 40px;
            outline: none;
            border: none;
            border-radius: 10px;
            text-indent: 15px;
            background-color: @white;
          }
        }

        & .group_announcement {
          width: 310px;
          position: relative;
          left: 5px;
          bottom: 110px;
          margin-top: 10px;

          & p {
            position: relative;
            margin: 0 0 5px 10px;
            color: @text_gray;
            letter-spacing: 1px;
          }

          & .el-input {
            width: 310px;
            outline: none;
            border: none;
            border-radius: 10px;
            text-indent: 15px;
            background-color: @white;
          }
        }
      }
    }

    & .all_more {
      position: relative;

      & [value = "删除聊天记录"] {
        width: 310px;
        height: 40px;
        border: none;
        border-radius: 10px;
        letter-spacing: 2px;
        background-color: @white;
        cursor: pointer;

        &:hover {
          border: 1px solid @blue;
          color: @blue;
          background-color: rgba(85, 127, 252, 0.05);
        }

        &:active {
          transform: scale(.99);
        }
      }

      & [type = button]:nth-child(2) {
        width: 310px;
        height: 40px;
        border: none;
        border-radius: 10px;
        letter-spacing: 2px;
        background-color: @white;
        cursor: pointer;
        margin-top: 20px;
        color: red;

        &:hover {
          border: 1px solid red;
          background-color: rgba(255, 0, 0, 0.1);
        }

        &:active {
          transform: scale(.99);
        }
      }
    }
  }
}

.group_add_users_outside {
  height: 400px;
  display: flex;
  flex-direction: row;

  & .group_add_users_left {
    width: 50%;
    height: 400px;
    padding-right: 20px;
    border-right: 1px solid @gray;

    & .el-input {
      background-color: @light_gray;
    }

    & div:nth-child(2) {
      width: 230px;
      height: 375px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      scroll-behavior: smooth;
      overflow: auto;
      margin-top: 5px;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: @gray;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      & label {
        position: relative;
        bottom: 5px;
        margin-bottom: 5px;
        cursor: pointer;


        & [type = checkbox] {
          border-radius: 50%;
          margin-right: 5px;
          position: relative;
          top: 1px;
        }

        & img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: relative;
          top: 8px;
        }
      }
    }
  }

  & .group_add_users_right {
    width: 50%;
    height: 400px;
    padding: 0 20px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    scroll-behavior: smooth;
    overflow: hidden;

    & .total_tip {
      display: flex;

      & p {
        font-size: 13px;
      }
    }

    & .selected_users {
      width: 220px;
      height: 330px;
      overflow-y: auto;
      overflow-x: hidden;
      margin-top: 5px;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: @gray;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      & div {
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        margin-top: 5px;

        & img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: relative;
        }

        & p {
          position: relative;
          top: 7px;
          left: 5px;
        }
      }
    }

    & .button {
      position: relative;
      top: 15px;
      left: 40px;

      & .el-button {
        width: 80px;
        height: 30px;
        letter-spacing: 1px;
      }
    }
  }
}

.look_more_group_users {
  & header {
    width: 250px;
    height: 30px;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &:hover {
      color: @blue;
    }

    &:active {
      transform: scale(.99);
    }

    & .el-icon {
      position: relative;
      top: 3px;
    }

    & p {
      font-size: 13px;
      position: relative;
      top: 2px;
    }
  }

  & .el-input {
    position: relative;
    background-color: @white;
  }

  & main {
    width: 250px;
    height: 530px;
    margin-top: 10px;
    overflow: hidden auto;
    border-radius: 10px;
    background-color: @white;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: @gray;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    & ul {
      padding: 10px;

      & li {
        display: flex;
        margin-bottom: 19px;

        & img {
          width: 40px;
          border-radius: 50%;
          margin-right: 5px;
        }

        & p:nth-child(2) {
          font-size: 13px;
          position: relative;
          top: 12px;
          color: @text_gray;
        }

        & p:nth-child(3) {
          height: 20px;
          font-size: 13px;
          position: relative;
          top: 12px;
          margin-left: auto;
          padding: 3px;
          justify-content: flex-end;
          color: @text_gray;
          background-color: @light_gray;
          border-radius: 3px;
          text-align: center;
        }
      }

      & li:first-child {
        & p:nth-child(3) {
          background-color: rgba(255, 0, 0, 0.25);
        }
      }

      & li:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.copy_success {
  width: 180px;
  position: fixed;
  top: 10px;
  left: 550px;
  z-index: 100;
  transition: 1s;
}

// 修改Element-plus组件样式
/deep/ .el-drawer.rtl {
  background-color: @light_gray;
}

/deep/ .el-input__wrapper {
  background-color: transparent;
}