.thisOutside {
  width: 690px;
  height: 100%;
  background-color: #efefef;
  position: absolute;
  top: 0;
  left: 310px;
  z-index: 100;
}
header {
  height: 38px;
  letter-spacing: 1px;
  background-color: #efefef;
}
header h4 {
  position: absolute;
  top: 10px;
  left: 10px;
}
header .shat_control {
  position: absolute;
  top: 5px;
  right: 20px;
}
header .shat_control .el-icon {
  margin-left: 10px;
  cursor: pointer;
}
header .shat_control .el-icon:hover {
  color: #557ffc;
}
header .shat_control .el-icon:active {
  transform: scale(0.9);
}
.copy_paste {
  width: 50px;
  padding: 3px 0 6px 3px;
  font-size: 13px;
  text-align: center;
  letter-spacing: 3px;
  border: 1.5px solid #c7c7c7;
  border-radius: 3px;
  background-color: #efefef;
  box-shadow: 0 0 10px 1px #c7c7c7;
  display: none;
  position: fixed;
  z-index: 100;
  cursor: pointer;
}
.copy_paste:active {
  background-color: #dedede;
}
.dialog_box {
  height: 389px;
  padding: 0 10px 10px 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scroll-behavior: smooth;
}
.dialog_box::-webkit-scrollbar {
  width: 10px;
}
.dialog_box::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 10px;
}
.dialog_box::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px;
}
.dialog_box .to_user {
  position: relative;
  top: 10px;
  padding: 0 5px;
  margin: 5px 10px 10px 0;
}
.dialog_box .to_user div {
  display: flex;
  flex-direction: row;
}
.dialog_box .to_user div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.dialog_box .to_user div div {
  position: relative;
  top: -10px;
  left: 10px;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scroll-behavior: smooth;
}
.dialog_box .to_user div div p:nth-child(1) {
  font-size: 10px;
  color: #505050;
  position: relative;
}
.dialog_box .to_user div div p:nth-child(2) {
  max-width: 550px;
  background-color: #c7c7c7;
  position: relative;
  top: 10px;
  padding: 5px;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: left;
  user-select: text;
}
.dialog_box .to_user div div p:nth-child(2)::selection {
  background-color: #e5ffde;
  color: #000;
}
.dialog_box .from_user {
  position: relative;
  top: 10px;
  float: right;
  margin: 5px 10px 10px 0;
}
.dialog_box .from_user div {
  display: flex;
  justify-content: flex-end;
}
.dialog_box .from_user div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: right;
}
.dialog_box .from_user div div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scroll-behavior: smooth;
}
.dialog_box .from_user div div p:nth-child(1) {
  font-size: 10px;
  color: #505050;
  position: relative;
  right: 10px;
  float: right;
  text-align: right;
}
.dialog_box .from_user div div p:nth-child(2) {
  max-width: 550px;
  background-color: #557ffc;
  position: relative;
  right: 10px;
  float: right;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  color: #f9f9f9;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: left;
  user-select: text;
}
.dialog_box .from_user div div p:nth-child(2)::selection {
  background-color: #e5ffde;
  color: #000;
}
footer {
  width: 665px;
  position: absolute;
  top: 435px;
  left: 15px;
}
footer .shat_control .el-icon {
  margin-right: 10px;
  cursor: pointer;
}
footer .shat_control .el-icon:hover {
  color: #557ffc;
}
footer .shat_control .el-icon:active {
  transform: scale(0.9);
}
footer textarea {
  width: 655px;
  height: 140px;
  resize: none;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: none;
  outline: transparent;
  margin: 5px 0 0 5px;
  overflow: auto;
  letter-spacing: 1px;
  font-size: 15px;
}
footer textarea::-webkit-scrollbar {
  width: 10px;
}
footer textarea::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 10px;
}
footer textarea::-webkit-scrollbar-track {
  background: transparent;
}
footer .send_box {
  width: 90px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #557ffc;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
}
footer .send_box:active {
  background-color: rgba(139, 166, 246);
}
.drawer main {
  width: 310px;
  height: 610px;
  overflow: hidden auto;
}
.drawer main .group_chats_more {
  height: 490px;
  margin-bottom: 10px;
}
.drawer main .group_chats_more header {
  height: 70px;
  display: flex;
  position: relative;
  padding: 5px;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.drawer main .group_chats_more header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.drawer main .group_chats_more header div {
  width: 230px;
  position: relative;
  left: 10px;
  color: #000000;
}
.drawer main .group_chats_more header div p:first-child {
  font-size: 18px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.drawer main .group_chats_more header div p:nth-child(2) {
  font-size: 13px;
}
.drawer main .group_chats_more main {
  height: auto;
  max-height: 300px;
  position: relative;
  margin: 20px 0 20px 0;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.drawer main .group_chats_more main .group_main_top {
  display: flex;
  color: #000;
  padding: 5px 10px 5px 10px;
}
.drawer main .group_chats_more main .group_main_top p:first-child {
  font-size: 15px;
}
.drawer main .group_chats_more main .group_main_top p:nth-child(2) {
  font-size: 12px;
  color: #505050;
  position: relative;
  top: 2px;
  left: 100px;
  cursor: pointer;
}
.drawer main .group_chats_more main .group_main_top p:nth-child(2) .el-icon {
  position: relative;
  top: 3px;
  right: 3px;
}
.drawer main .group_chats_more main .group_main_top p:nth-child(2):hover {
  color: #557ffc;
}
.drawer main .group_chats_more main .group_main_top p:nth-child(2):active {
  transform: scale(0.99);
}
.drawer main .group_chats_more main .group_users {
  width: 100%;
  max-height: 260px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.drawer main .group_chats_more main .group_users .group_user {
  margin: 0 8px 15px 0;
}
.drawer main .group_chats_more main .group_users .group_user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  left: 5.5px;
}
.drawer main .group_chats_more main .group_users .group_user p {
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 10px;
}
.drawer main .group_chats_more main .group_users .group_user:last-child {
  margin-right: 0;
}
.drawer main .group_chats_more main .group_users .invite .el-icon {
  background-color: #efefef;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 1px;
  left: 4px;
  cursor: pointer;
}
.drawer main .group_chats_more main .group_users .invite .el-icon:active {
  background-color: #dedede;
}
.drawer main .group_chats_more main .group_users .invite p {
  font-size: 10px;
  position: relative;
  left: 12px;
  letter-spacing: 2px;
}
.drawer main .group_chats_more footer .group_name {
  position: relative;
  left: 5px;
  bottom: 100px;
}
.drawer main .group_chats_more footer .group_name p {
  position: relative;
  margin: 0 0 5px 10px;
  color: #505050;
  letter-spacing: 1px;
}
.drawer main .group_chats_more footer .group_name .el-input {
  width: 310px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  text-indent: 15px;
  background-color: #f9f9f9;
}
.drawer main .group_chats_more footer .group_announcement {
  width: 310px;
  position: relative;
  left: 5px;
  bottom: 110px;
  margin-top: 10px;
}
.drawer main .group_chats_more footer .group_announcement p {
  position: relative;
  margin: 0 0 5px 10px;
  color: #505050;
  letter-spacing: 1px;
}
.drawer main .group_chats_more footer .group_announcement .el-input {
  width: 310px;
  outline: none;
  border: none;
  border-radius: 10px;
  text-indent: 15px;
  background-color: #f9f9f9;
}
.drawer main .all_more {
  position: relative;
}
.drawer main .all_more [value="删除聊天记录"] {
  width: 310px;
  height: 40px;
  border: none;
  border-radius: 10px;
  letter-spacing: 2px;
  background-color: #f9f9f9;
  cursor: pointer;
}
.drawer main .all_more [value="删除聊天记录"]:hover {
  border: 1px solid #557ffc;
  color: #557ffc;
  background-color: rgba(85, 127, 252, 0.05);
}
.drawer main .all_more [value="删除聊天记录"]:active {
  transform: scale(0.99);
}
.drawer main .all_more [type=button]:nth-child(2) {
  width: 310px;
  height: 40px;
  border: none;
  border-radius: 10px;
  letter-spacing: 2px;
  background-color: #f9f9f9;
  cursor: pointer;
  margin-top: 20px;
  color: red;
}
.drawer main .all_more [type=button]:nth-child(2):hover {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}
.drawer main .all_more [type=button]:nth-child(2):active {
  transform: scale(0.99);
}
.group_add_users_outside {
  height: 400px;
  display: flex;
  flex-direction: row;
}
.group_add_users_outside .group_add_users_left {
  width: 50%;
  height: 400px;
  padding-right: 20px;
  border-right: 1px solid #c7c7c7;
}
.group_add_users_outside .group_add_users_left .el-input {
  background-color: #efefef;
}
.group_add_users_outside .group_add_users_left div:nth-child(2) {
  width: 230px;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scroll-behavior: smooth;
  overflow: auto;
  margin-top: 5px;
}
.group_add_users_outside .group_add_users_left div:nth-child(2)::-webkit-scrollbar {
  width: 10px;
}
.group_add_users_outside .group_add_users_left div:nth-child(2)::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 10px;
}
.group_add_users_outside .group_add_users_left div:nth-child(2)::-webkit-scrollbar-track {
  background: transparent;
}
.group_add_users_outside .group_add_users_left div:nth-child(2) label {
  position: relative;
  bottom: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.group_add_users_outside .group_add_users_left div:nth-child(2) label [type=checkbox] {
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.group_add_users_outside .group_add_users_left div:nth-child(2) label img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: 8px;
}
.group_add_users_outside .group_add_users_right {
  width: 50%;
  height: 400px;
  padding: 0 20px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scroll-behavior: smooth;
  overflow: hidden;
}
.group_add_users_outside .group_add_users_right .total_tip {
  display: flex;
}
.group_add_users_outside .group_add_users_right .total_tip p {
  font-size: 13px;
}
.group_add_users_outside .group_add_users_right .selected_users {
  width: 220px;
  height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 5px;
}
.group_add_users_outside .group_add_users_right .selected_users::-webkit-scrollbar {
  width: 10px;
}
.group_add_users_outside .group_add_users_right .selected_users::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 10px;
}
.group_add_users_outside .group_add_users_right .selected_users::-webkit-scrollbar-track {
  background: transparent;
}
.group_add_users_outside .group_add_users_right .selected_users div {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.group_add_users_outside .group_add_users_right .selected_users div img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}
.group_add_users_outside .group_add_users_right .selected_users div p {
  position: relative;
  top: 7px;
  left: 5px;
}
.group_add_users_outside .group_add_users_right .button {
  position: relative;
  top: 15px;
  left: 40px;
}
.group_add_users_outside .group_add_users_right .button .el-button {
  width: 80px;
  height: 30px;
  letter-spacing: 1px;
}
.look_more_group_users header {
  width: 250px;
  height: 30px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.look_more_group_users header:hover {
  color: #557ffc;
}
.look_more_group_users header:active {
  transform: scale(0.99);
}
.look_more_group_users header .el-icon {
  position: relative;
  top: 3px;
}
.look_more_group_users header p {
  font-size: 13px;
  position: relative;
  top: 2px;
}
.look_more_group_users .el-input {
  position: relative;
  background-color: #f9f9f9;
}
.look_more_group_users main {
  width: 250px;
  height: 530px;
  margin-top: 10px;
  overflow: hidden auto;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.look_more_group_users main::-webkit-scrollbar {
  width: 10px;
}
.look_more_group_users main::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 10px;
}
.look_more_group_users main::-webkit-scrollbar-track {
  background: transparent;
}
.look_more_group_users main ul {
  padding: 10px;
}
.look_more_group_users main ul li {
  display: flex;
  margin-bottom: 19px;
}
.look_more_group_users main ul li img {
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.look_more_group_users main ul li p:nth-child(2) {
  font-size: 13px;
  position: relative;
  top: 12px;
  color: #505050;
}
.look_more_group_users main ul li p:nth-child(3) {
  height: 20px;
  font-size: 13px;
  position: relative;
  top: 12px;
  margin-left: auto;
  padding: 3px;
  justify-content: flex-end;
  color: #505050;
  background-color: #efefef;
  border-radius: 3px;
  text-align: center;
}
.look_more_group_users main ul li:first-child p:nth-child(3) {
  background-color: rgba(255, 0, 0, 0.25);
}
.look_more_group_users main ul li:last-child {
  margin-bottom: 0;
}
.copy_success {
  width: 180px;
  position: fixed;
  top: 10px;
  left: 550px;
  z-index: 100;
  transition: 1s;
}
 /deep/ .el-drawer.rtl {
  background-color: #efefef;
}
 /deep/ .el-input__wrapper {
  background-color: transparent;
}
/*# sourceMappingURL=homeChatBar.css.map */