@white: #f9f9f9;
@neu-2: #d1d9e6;
@gray: rgb(199, 199, 199);
@light_gray: #efefef;
@blue: #4B70E2;

.thisOutside {
  width: 690px;
  height: 100%;
  background-color: @light_gray;
  position: absolute;
  top: 0;
  left: 310px;
  z-index: 100;
}