@white: #f9f9f9;
@neu-2: #d1d9e6;
@gray: rgb(199, 199, 199);
@light_gray: #efefef;
@text_gray: #505050;
@blue: #557ffc;

.thisOutside {
  width: 690px;
  height: 100%;
  background-color: @light_gray;
  position: absolute;
  top: 0;
  left: 310px;
  z-index: 100;
}

header {
  height: 38px;
  letter-spacing: 1px;
  background-color: @light_gray;

  & h4 {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  & .shat_control {
    position: absolute;
    top: 5px;
    left: 570px;

    & .el-icon {
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        color: @blue;
      }

      &:active {
        transform: scale(.9);
      }
    }
  }
}

.dialog_box {
  height: 389px;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: @gray;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px;
  }

  & .to_user {
    position: relative;
    padding: 0 5px;

    & img {
      width: 40px;
      border-radius: 50%;
    }

    & > p:first-of-type {
      width: 100px;
      font-size: 10px;
      color: @text_gray;
      position: relative;
      top: -45px;
      left: 45px;
    }

    & > p:nth-of-type(2) {
      display: inline-block;
      max-width: 570px;
      background-color: @gray;
      position: relative;
      top: -40px;
      left: 45px;
      padding: 5px;
      border-radius: 5px;
      color: #000;
      font-size: 14px;
      letter-spacing: .5px;
    }
  }

  & .from_user {
    position: relative;
    top: -50px;
    float: right;
    margin-top: 20px;

    & img {
      width: 40px;
      border-radius: 50%;
      float: right;
    }

    & > p:first-of-type {
      font-size: 10px;
      color: @text_gray;
      position: relative;
      top: 0;
      right: 7px;
      float: right;
    }

    & > p:nth-of-type(2) {
      display: inline-block;
      max-width: 570px;
      background-color: @blue;
      position: relative;
      top: 20px;
      right: -45px;
      float: right;
      padding: 5px;
      border-radius: 5px;
      color: @white;
      font-size: 14px;
      letter-spacing: .5px;
    }
  }
}

footer {
  width: 665px;
  position: absolute;
  top: 435px;
  left: 15px;

  & .shat_control {
    & .el-icon {
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        color: @blue;
      }

      &:active {
        transform: scale(.9);
      }
    }
  }

  & textarea {
    width: 665px;
    height: 140px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    outline: transparent;
    margin: 5px 0 0 5px;
    overflow: auto;
    letter-spacing: 1px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: @gray;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  & .send_box {
    width: 90px;
    height: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: @blue;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;

    &:active {
      background-color: rgba(139, 166, 246);
    }
  }
}

.drawer {
  & main {
    width: 310px;
    height: 610px;
    overflow: hidden auto;

    & .group_chats_more {
      & header {
        height: 70px;
        display: flex;
        position: relative;
        padding: 5px;
        border-radius: 10px;
        background-color: @light_gray;


        & img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }

        & div {
          width: 230px;
          position: relative;
          left: 10px;
          color: #000000;

          & p:first-child {
            font-size: 18px;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          & p:nth-child(2) {
            font-size: 13px;
          }
        }
      }

      & main {
        height: 300px;
        position: relative;
        margin: 20px 0 20px 0;
        border-radius: 10px;
        background-color: @light_gray;

        & .group_main_top {
          display: flex;
          color: #000;
          padding: 5px 10px 5px 10px;

          & p:first-child {
            font-size: 15px;
          }

          & p:nth-child(2) {
            font-size: 12px;
            color: @text_gray;
            position: relative;
            top: 2px;
            left: 100px;
            cursor: pointer;

            & .el-icon {
              position: relative;
              top: 3px;
              right: 3px;
            }

            &:hover {
              color: @blue;
            }

            &:active {
              transform: scale(.99);
            }
          }
        }

        & .group_users {
          height: 260px;
          padding: 10px 5px 0 5px;
          background-color: pink;
        }
      }
    }
  }
}